PORT=0000

# Database configuration
NODE_ENV=development

# JWT
JWT_SECRET=secret

# Sequelize configuration
SQLZ_DIALECT=mssql

# ODBC
ODBC_CONNECTION=DSN=EXAMPLE;UID=USER;PWD=PASSWORD

# Emmail configuration
# EMAIL=
# EMAIL_PASS=
MH_FE_EMAIL_API_URL=http://IP:PORT